@model IEnumerable<SourdoughBakery.Core.Models.Business.Menu>

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>

<table class="table mt-4">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Detail", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>